<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <cors enabled="true">
            <add origin="*"> 
                <allowHeaders allowAllRequestedHeaders="true" />
            </add>
        </cors>
	<httpErrors existingResponse="Replace" errorMode="Custom">
      		<remove statusCode="404" />
      		<error statusCode="404" path="/404.html" responseMode="ExecuteURL" />
    	</httpErrors>
    </system.webServer>
</configuration>
